/* @author Henry Glenn */
:root {
    --royal_purple: rgb(81, 40, 136);
    --background_color: rgba(0, 0, 0, 0.55);
    --lighter_background_color: rgba(100, 100, 100, 0.30);
    --small-font-size: 10pt system-ui;
    --medium-font-size: 14pt system-ui;
    --large-font-size: 20pt system-ui;
}

/* Makes it so that all children strictly adhere to parent element bounds. */
*,
*::before,
*::after {
    box-sizing: border-box;
}

@media screen and (orientation: portrait) {
    .portrait-content {
        display: flex;
        height: 100%;
        width: 100%;
    }

    .landscape-content {
        display: none;
    }
}

@media screen and (orientation: landscape) {
    .portrait-content {
        display: none;
    }

    .landscape-content {
        display: flex;
        height: 100%;
        width: 100%;
    }
}

@media screen and (display-mode: standalone) {
    .standalone-content {
        display: flex;
        height: 100%;
        width: 100%;
    }

    .browser-content {
        display: none;
    }
}

@media screen and (display-mode: browser) {
    .browser-content {
        display: flex;
        height: 100%;
        width: 100%;
        background: url("./images/alt_icon.jpg");
        background-size: cover; /* Resize the image to cover the entire element */
        background-position: center; /* Center the image within the element */
        background-repeat: no-repeat;
    }

    .standalone-content {
        display: none;
    }
}

.view {
    display: none;
    height: 100%;
    width: 100%;
}

.inner-circle {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.6) 100%);
    border-radius: 50%;
}

.blurred {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
}
.blurred-strong {
    backdrop-filter: blur(120px);
    -webkit-backdrop-filter: blur(60px);
}

.outer-circle {
    aspect-ratio: 1 / 1;
    max-width: 100%;
    margin: auto;
    border-width: 5pt;
    border-style: solid;
    border-color: var(--background_color);
    border-radius: 50%;
}

.arrow {
    position: relative;
    width: 60%;
    height: 60%;
    left: 50%;
    top: 46%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 54%;
    opacity: 85%;
}

.rounded-container,
.start-button,
.dropdown {
    width: 100%;
    margin-top: 5pt;
    margin-bottom: 5pt;
    background-color: var(--background_color);
    color: white;
    border-radius: 7pt;
    padding: 7pt;
}

.centered-text-box {
    text-align: center;
    background-color: var(--background_color);
    color: white;
    border-radius: 7pt;
    padding: 7pt;
    border-style: none;
    font: var(--medium-font-size);
}

.centered-text {
    text-align: center;
}

p {
    margin: 2pt;
    font: var(--medium-font-size);
}

h1 {
    margin: 2pt;
    text-align: center;
    font: var(--large-font-size);
}

td {
    text-align: left;
    color: white;
    width: 40%;
    font: var(--medium-font-size);
}

li {
    font: var(--medium-font-size);
    padding: 5pt;
}

.centered-layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown {
    height: 35pt;
    padding: 7pt;
    border-style: none;
    font: var(--medium-font-size);
}

.dropdown>option {
    color: white;
    font: var(--medium-font-size);
}

.stack-layout {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.stack-layout>* {
    position: absolute;
    inset: 0;
}

.background-image {
    object-fit: cover;
    /* or 'contain' */
    width: 100%;
    height: 100%;
}

.rotate-image {
    height: 50%;
    aspect-ratio: 1 / 1;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
}

.opacity-fade {
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
    opacity: 0;
}

.safe-area {
    padding: calc(env(safe-area-inset-top, 0) + 20pt) calc(env(safe-area-inset-right, 0) + 20pt) calc(env(safe-area-inset-bottom, 0) + 20pt) calc(env(safe-area-inset-left, 0) + 20pt);
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    background-color: var(--royal_purple);
}